/*Selector universal*/
*{
    padding: 0; 
    margin: 0;
}

/*Selector de tipo: Etiqueta*/
body{
    background-color: aqua;
    /*Ajustar las tarjetas en varias lineas*/
    display: flex;
    flex-wrap: wrap;

}


main{
    /*Ajustar las tarjetas a varias lineas*/
    display: flex;
    flex-wrap: wrap;
}

h1{
    color:rgb(214, 125, 8);
}

/*Selector de tipo: Clase*/
/*Reutilizar estilos*/

.tarjeta {
    width: 320px;
    background-color: rgb(226, 250, 215);
    border-radius: 3%;
    /*Centrando elementos*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%; /*separación*/
    display: inline-block;
}

.tarjeta:hover{
    background-color: bisque;
    transform: scale(1.05);
    transform: rotate(3deg);
}

.tarjeta .caja-contenedora{
    width: 200px;
}

.tarjeta img{
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.tarjeta p{
    font-size: 15px;
}

/*Selector de tipo: ID*/
/*Es UNICO*/

#Ajolote {
    color:rgb(227, 196, 255);
}

#Xochimilco{
    color:rgb(255, 0, 55);
}

#Agua{
    color:rgb(224, 94, 18);
}

}

#Billete{
    color:rgb(224, 18, 121);
}